/* 嚙踝蕭謕蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭謍湛蕭��蕭��嚙踝蕭����嚙踝����嚙踐揭嚙踝蕭謕蕭��蕭��蕭��迭���蕭謚啾揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭�����蕭謖嚙踝蕭謢察���頩�蕭�嚙踐�蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭豲���蕭��嚙踐揭嚙踝蕭謕蕭豲��嚙踝����嚙踐揭嚙踝蕭謕蕭豲���蕭��嚙踝���蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭豲嚙踐�蕭����鞊舀�揭嚙踝蕭謕蕭��嚙踐�蕭����蕭�嚙踐�蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭���謏��嚙踝蕭�����蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭��雓����蕭�����嚙踐的嚙踐�蕭嚙踐�蕭��嚙踝蕭蹐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭謍箄���蕭謖鞊船���死蹓控雿���蕭謖嚙踝蕭謅��嚙踝蕭��嚙踝蕭蹐翮嚙踝蕭謕蕭��雓�嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲������揭嚙踝蕭謕蕭豲��死蹓控銵�嚙踐�蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭�����蕭��嚙踝蕭謕蕭豲���嚙踐�蕭����雓�鞊船����頩�蕭�����蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭��雓����蕭�����嚙踐的嚙踐�蕭嚙踐�蕭��嚙踝蕭蹐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭謍箄���蕭謖鞊船���死蹓控雿���蕭謖嚙踝蕭謅��嚙踝蕭��嚙踝蕭蹐翮嚙踝蕭謕蕭��雓�嚙踝蕭謕蕭豲��嚙踝����嚙踐揭嚙踝蕭謕蕭��嚙踝蕭賹雓�嚙踝蕭��嚙踝蕭��雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踝��蕭豱批�����雓�鞊莎�揭嚙踝蕭謕蕭��嚙踝蕭���蕭謆扯�偃豱血��雓�鞊船����蕭�����嚙踐嚙踝蕭謕蕭��雓����嚙踐���蕭��雓�嚙踝蕭�����雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲���雓Ｗ�揭嚙踝蕭�嚙踐�嚙踝蕭謜嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭�����蕭��嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踐飾嚙踝蕭�嚙賢��雓�嚙踝蕭謕蕭��鞊莎�揭 */
*{
    font-family: 嚙踝蕭謕蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭謍湛蕭��蕭��嚙踝蕭����嚙踝����嚙踐揭嚙踝蕭謕蕭��蕭��蕭��迭���蕭謚啾揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������鞈察縈嚙踐�頩�嚙踐揭嚙踝蕭謕蕭��嚙踝蕭謕蕭豲��嚙踝����雓姘嚙踝嚙踐�蕭豲��嚙踝����雓姘��蕭嚙踐�蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭�����蕭��嚙踝蕭謕蕭豲����蕭嚙踐�蕭豲雓豱佗蕭嚙踐�蕭��蕭��蕭��迭���蕭謚啾揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲��嚙踝����蕭�����雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踐�蕭��嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭謕蕭��蕭豲���蕭謖嚙踝蕭謢察���蕭�豱佗蕭嚙踐�蕭豲��撥嚙踐����嚙踐疚���蕭謘遴�����嚙踐�嚙踝蕭謕蕭豲嚙踐�蕭����鞊舀�揭嚙踝蕭謕蕭��嚙踐�蕭����蕭�嚙踐�蕭豲��嚙踝����蕭�����雓�嚙踝蕭��雓�嚙踝蕭豲嚙踝蕭�����嚙踝蕭�豱佗蕭嚙踐貔��蕭�豱佗蕭嚙踝��蕭豱批�����雓�嚙踝蕭謅��嚙踝蕭��嚙踝蕭蹐翮嚙踝蕭謕蕭��雓�嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭��蕭謕蕭��嚙踝蕭��嚙踝蕭謕蕭��雓����雓Ｗ�揭嚙踝蕭謕蕭豲���蕭謜嚙踝���蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲���������揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踝����迨嚙踐揭嚙踝蕭謕蕭豲蕭��蕭謕蕭��嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭���蕭�嚙踝蕭謕蕭�����嚙踝蕭�嚙踐姿�鞊望嚙踐�蕭��嚙踝蕭謕蕭豲��嚙踝����嚙踐揭嚙踝蕭謕蕭豲��城嚙踐�嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭謍湛蕭��蕭��嚙踝蕭����嚙踝����嚙踐揭嚙踝蕭謕蕭��蕭��蕭��迭���蕭謚啾揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭�����蕭謖嚙踝蕭謢察���頩�蕭�嚙踐�蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭�嚙踐姿�鞊望嚙踐�蕭��嚙踝蕭謕蕭��蕭嚙踐�蕭豲���嚙踝蕭����垮�嚙踐揭嚙踝蕭��迭���蕭謚啾揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踐�蕭豲������嚙踝���蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭��雓����蕭�����雓�嚙踝蕭謅��嚙踝���疚���嚙踐僚���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭豲嚙踐�蕭����鞊舀�揭嚙踝蕭謕蕭��嚙踐�蕭����蕭�嚙踐�蕭豲��嚙踝����蕭�����雓�嚙踝蕭��雓�嚙踝蕭豲嚙踝蕭�����嚙踝蕭�豱佗蕭嚙踐貔��蕭�豱佗蕭嚙踝��蕭豱批�����雓�嚙踝蕭謅��嚙踝蕭��嚙踝蕭蹐翮嚙踝蕭謕蕭��雓�嚙踝蕭謕蕭豲��嚙踝����嚙踐揭嚙踝蕭謕蕭��嚙踐�蕭�������雓�鞊莎�揭嚙踝蕭��蕭���蕭��嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭謕蕭��嚙踝�蕭�������雓�嚙踝蕭謢察嚙踝蕭謕;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    width:1257px;
    min-width: 980px;
    background:url(../images/secondBG.png) 50% 0 no-repeat fixed; 
}

img{
    border: 0;
}

#nav2{
    list-style: none;
    z-index: 2;
    position: fixed;
    margin-top:1%;
}

#nav2 a{
    text-decoration: none;
    color:#000;
}

#nab2 h5{
   text-align:center; 
}

#intro{
    width: 100%;
}

#intro{
    height:700px;
    margin: 0 auto;
    padding: 0;
    z-index: -100;
}
/* 嚙踝蕭謕蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭謍湛蕭��蕭��嚙踝蕭����嚙踝����嚙踐揭嚙踝蕭謕蕭��蕭��蕭��迭���蕭謚啾揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭�����蕭謖嚙踝蕭謢察���頩�蕭�嚙踐�蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭豲���蕭��嚙踐揭嚙踝蕭謕蕭豲��嚙踝����嚙踐揭嚙踝蕭謕蕭豲���蕭��嚙踝���蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭豲嚙踐�蕭����鞊舀�揭嚙踝蕭謕蕭��嚙踐�蕭����蕭�嚙踐�蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭���謏��嚙踝蕭�����蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭��雓����蕭�����嚙踐的嚙踐�蕭嚙踐�蕭��嚙踝蕭蹐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭謍箄���蕭謖鞊船���死蹓控雿���蕭謖嚙踝蕭謅��嚙踝蕭��嚙踝蕭蹐翮嚙踝蕭謕蕭��雓�嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲������揭嚙踝蕭謕蕭豲��死蹓控銵�嚙踐�蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭�����蕭��嚙踝蕭謕蕭豲���嚙踐�蕭����雓�鞊船����頩�蕭�����蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭��雓����蕭�����嚙踐的嚙踐�蕭嚙踐�蕭��嚙踝蕭蹐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭謍箄���蕭謖鞊船���死蹓控雿���蕭謖嚙踝蕭謅��嚙踝蕭��嚙踝蕭蹐翮嚙踝蕭謕蕭��雓�嚙踝蕭謕蕭豲��嚙踝����嚙踐揭嚙踝蕭謕蕭��嚙踝蕭賹雓�嚙踝蕭��嚙踝蕭��雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踝��蕭豱批�����雓�鞊莎�揭嚙踝蕭謕蕭��嚙踝蕭���蕭謆扯�偃豱血��雓�鞊船����蕭�����嚙踐嚙踝蕭謕蕭��雓����嚙踐���蕭��雓�嚙踝蕭�����雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲���雓Ｗ�揭嚙踝蕭�嚙踐�嚙踝蕭謜嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭���蕭嚙踐�������蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲��憪蕭嚙踝嚙踐�蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲��撥嚙踐����嚙踐疚���蕭謘遴�����嚙踐�嚙踝蕭謕蕭��雓����嚙踐嚙踝蕭�嚙踐�蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭���謢塚蕭謕蕭豲蕭謘潘蕭謕蕭��雓����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭���謏������蕭�嚙踝蕭謕蕭��雓����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭謍湛蕭��蕭��嚙踝蕭����嚙踝����嚙踐揭嚙踝蕭謕蕭��蕭��蕭��迭���蕭謚啾揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������頩筑�雓�鞊船嚙踐撒嚙踐�蕭��嚙踝蕭謕蕭豲��嚙踝���嚙踐�蕭�����蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲��撥嚙踐����嚙踐疚���蕭謘遴�����嚙踐�嚙踝蕭謕蕭��雓����蕭�����嚙踐的嚙踝蕭賹��蕭嚙踐嚙踝蕭謕蕭豲蕭蹎刻嚙踐揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭豲嚙踐�蕭����鞊舀�揭嚙踝蕭謕蕭��嚙踐�蕭����蕭�嚙踐�蕭豲��嚙踝����蕭�����雓�嚙踝蕭��雓�嚙踝蕭豲嚙踝蕭�����嚙踝蕭�豱佗蕭嚙踐貔��蕭�豱佗蕭嚙踝��蕭豱批�����雓�嚙踝蕭謢察���蕭��嚙踐揭嚙踝蕭謕蕭����蕭 */

/* 嚙踝蕭謕蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭謍湛蕭��蕭��嚙踝蕭����嚙踝����嚙踐揭嚙踝蕭謕蕭��蕭��蕭��迭���蕭謚啾揭���雓�鞊船����蕭��嚙踐揭嚙踝蕭謕蕭豲���嚙踝����雓�嚙踝蕭謢察���蕭��嚙踐揭嚙踝蕭謕蕭��嚙踝���蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭豲嚙踐���尿嚙踐������蕭謖嚙踝蕭�����雓�鞊莎�揭嚙踝蕭謕蕭豲���雓豱佗蕭嚙踝�蕭��頩����雓�鞊船���嚙踝�揭嚙踝蕭��迭���蕭謚啾揭���雓�嚙踝蕭謅蕭謍湛蕭��蕭��嚙踝蕭����嚙踝����嚙踐揭嚙踝蕭謕蕭��蕭��蕭��迭���蕭謚啾揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲��嚙踝����嚙踝蕭謢察嚙踝蕭謕蕭豲��嚙踝����雓姘����雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲���雓Ｗ�揭���雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲��憪蕭嚙踝嚙踐�蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭謕蕭��蕭��蕭謕蕭豲���蕭謘潘蕭謕蕭��雓����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭謍湛蕭��蕭��嚙踝蕭����嚙踝����嚙踐揭嚙踝蕭謕蕭��蕭��蕭��迭���蕭謚啾揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲��嚙踝����蕭�����雓�鞊莎�揭嚙踝蕭謕蕭��嚙踝蕭���蕭謆扯�偃豱血��雓�鞊船����蕭��蕭謕蕭��倏���揭嚙踝蕭��蕭謜�蕭嚙踐�蕭��雓����嚙踐嚙踝蕭�����蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭��雓����蕭�����嚙踐的嚙踐�蕭嚙踐�蕭��嚙踝蕭蹐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭謍箄���蕭謖鞊船���死蹓控雿���蕭謖嚙踝蕭謅��嚙踝蕭��嚙踝蕭蹐翮嚙踝蕭謕蕭��雓�嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭��蕭謕蕭豲���蕭����嚙踝����嚙踐����蕭豱佗蕭嚙踐�蕭��嚙踝蕭謕蕭豲����蕭嚙踐�蕭賹雓�嚙踝蕭謢察��嚙踝�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭豲嚙踐�蕭����鞊舀�揭嚙踝蕭謕蕭��嚙踐�蕭����蕭�嚙踐�蕭豲��嚙踝����蕭�����雓�嚙踝蕭��雓�嚙踝蕭豲嚙踝蕭�����嚙踝蕭�豱佗蕭嚙踐貔��蕭�豱佗蕭嚙踝��蕭豱批�����雓�嚙踝蕭謅��嚙踝蕭��嚙踝蕭蹐翮嚙踝蕭謕蕭��雓�嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲���嚙踐�蕭����雓�鞊船����頩�蕭�嚙踐�蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭謕蕭豲��撥嚙踐����雓�鞊莎�揭嚙踝蕭謕蕭豲���嚙踐�控雿���疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭���謏��������蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭豲嚙踐�蕭����鞊舀�揭嚙踝蕭謕蕭��嚙踐�蕭����蕭�嚙踐�蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭�����蕭��嚙踝蕭謕蕭豲��嚙踝����蕭�����嚙踝蕭�嚙踐姿�鞊望嚙踐�蕭��嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭��雓����蕭�����嚙踐的嚙踐�蕭嚙踐�蕭��嚙踝蕭蹐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭謍箄���蕭謖鞊船���死蹓控雿���蕭謖嚙踝蕭謅��嚙踝蕭��嚙踝蕭蹐翮嚙踝蕭謕蕭��雓�嚙踝蕭謕蕭豲��嚙踝����嚙踐揭嚙踝蕭謕蕭��嚙踐�蕭�������雓�鞊莎�揭嚙踝蕭��蕭���蕭��嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭謕蕭��嚙踝�蕭�������雓�嚙踝蕭謢察���蕭蹎刻嚙踐揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭豲嚙踐�蕭����鞊舀�揭嚙踝蕭謕蕭��嚙踐�蕭����蕭�嚙踐�蕭豲��嚙踝����蕭�����雓�嚙踝蕭��雓�嚙踝蕭豲嚙踝蕭�����嚙踝蕭�豱佗蕭嚙踐貔��蕭�豱佗蕭嚙踝��蕭豱批�����雓�嚙踝蕭謢察���蕭��嚙踐揭嚙踝蕭謕蕭����蕭 */
.line {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
.line:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease-in-out, background-color .5s ease-in-out;
}

.line:hover:after {
    width: 100%;
    background: #FF60AF;
}
/* 嚙踝蕭謕蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭謍湛蕭��蕭��嚙踝蕭����嚙踝����嚙踐揭嚙踝蕭謕蕭��蕭��蕭��迭���蕭謚啾揭���雓�鞊船����蕭��嚙踐揭嚙踝蕭謕蕭豲���嚙踝����雓�嚙踝蕭謢察���蕭��嚙踐揭嚙踝蕭謕蕭��嚙踝���蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭豲嚙踐���尿嚙踐������蕭謖嚙踝蕭�����雓�鞊莎�揭嚙踝蕭謕蕭豲���雓豱佗蕭嚙踝�蕭��頩����雓�鞊船���嚙踝�揭嚙踝蕭��迭���蕭謚啾揭���雓�嚙踝蕭謅蕭謍湛蕭��蕭��嚙踝蕭����嚙踝����嚙踐揭嚙踝蕭謕蕭��蕭��蕭��迭���蕭謚啾揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲��嚙踝����嚙踝蕭謢察嚙踝蕭謕蕭豲��嚙踝����雓姘����雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲���雓Ｗ�揭���雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲��憪蕭嚙踝嚙踐�蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭謕蕭��蕭��蕭謕蕭豲���蕭謘潘蕭謕蕭��雓����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭謍湛蕭��蕭��嚙踝蕭����嚙踝����嚙踐揭嚙踝蕭謕蕭��蕭��蕭��迭���蕭謚啾揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲��嚙踝����蕭�����雓�鞊莎�揭嚙踝蕭謕蕭��嚙踝蕭���蕭謆扯�偃豱血��雓�鞊船����蕭��蕭謕蕭��倏���揭嚙踝蕭��蕭謜�蕭嚙踐�蕭��雓����嚙踐嚙踝蕭�����蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭��雓����蕭�����嚙踐的嚙踐�蕭嚙踐�蕭��嚙踝蕭蹐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭謍箄���蕭謖鞊船���死蹓控雿���蕭謖嚙踝蕭謅��嚙踝蕭��嚙踝蕭蹐翮嚙踝蕭謕蕭��雓�嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭��蕭謕蕭豲���蕭����嚙踝����嚙踐����蕭豱佗蕭嚙踐�蕭��嚙踝蕭謕蕭豲����蕭嚙踐�蕭賹雓�嚙踝蕭謢察��嚙踝�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭豲嚙踐�蕭����鞊舀�揭嚙踝蕭謕蕭��嚙踐�蕭����蕭�嚙踐�蕭豲��嚙踝����蕭�����雓�嚙踝蕭��雓�嚙踝蕭豲嚙踝蕭�����嚙踝蕭�豱佗蕭嚙踐貔��蕭�豱佗蕭嚙踝��蕭豱批�����雓�嚙踝蕭謅��嚙踝蕭��嚙踝蕭蹐翮嚙踝蕭謕蕭��雓�嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲���嚙踐�蕭����雓�鞊船����頩�蕭�嚙踐�蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭謕蕭豲��撥嚙踐����雓�鞊莎�揭嚙踝蕭謕蕭豲���嚙踐�控雿���疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭���謏��������蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭豲嚙踐�蕭����鞊舀�揭嚙踝蕭謕蕭��嚙踐�蕭����蕭�嚙踐�蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭�����蕭��嚙踝蕭謕蕭豲��嚙踝����蕭�����嚙踝蕭�嚙踐姿�鞊望嚙踐�蕭��嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭��雓����蕭�����嚙踐的嚙踐�蕭嚙踐�蕭��嚙踝蕭蹐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭謍箄���蕭謖鞊船���死蹓控雿���蕭謖嚙踝蕭謅��嚙踝蕭��嚙踝蕭蹐翮嚙踝蕭謕蕭��雓�嚙踝蕭謕蕭豲��嚙踝����嚙踐揭嚙踝蕭謕蕭��嚙踐�蕭�������雓�鞊莎�揭嚙踝蕭��蕭���蕭��嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭謕蕭��嚙踝�蕭�������雓�嚙踝蕭謢察���蕭謘潘蕭謕蕭��雓����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭謍湛蕭��蕭��嚙踝蕭����嚙踝����嚙踐揭嚙踝蕭謕蕭��蕭��蕭��迭���蕭謚啾揭���雓�鞊船����蕭��嚙踐揭嚙踝蕭謕蕭豲���嚙踝����雓�嚙踝蕭謢察���蕭��嚙踐揭嚙踝蕭謕蕭��嚙踝���蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭豲嚙踐�蕭����鞊舀�揭嚙踝蕭謕蕭��嚙踐�蕭����蕭�嚙踐�蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲��憪選蕭����蕭��揭���雓�鞊船����蕭��剁蕭嚙踐�蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭���蕭豱瑕���蕭嚙踐�蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭�����蕭��嚙踝蕭謕蕭豲����蕭嚙踐�蕭豲雓豱佗蕭嚙踐�蕭��蕭��蕭��迭���蕭謚啾揭���雓�鞊船����蕭��嚙踐揭嚙踝蕭謕蕭豲���嚙踝����雓�嚙踝蕭謢察���蕭��嚙踐揭嚙踝蕭謕蕭��嚙踝���蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭��雓����蕭�����嚙踐的嚙踝蕭蹎刻嚙踐揭���雓�嚙踝蕭謅嚙踝蕭謕蕭豲��嚙踝���嚙踐�蕭�����蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲��撥嚙踐����嚙踐疚���蕭謘遴�����嚙踐�嚙踝蕭謕蕭��雓����蕭�����嚙踐的嚙踝蕭賹��蕭嚙踐嚙踝蕭謕蕭豲蕭蹎刻嚙踐揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭豲嚙踐�蕭����鞊舀�揭嚙踝蕭謕蕭��嚙踐�蕭����蕭�嚙踐�蕭豲��嚙踝����蕭�����雓�嚙踝蕭��雓�嚙踝蕭豲嚙踝蕭�����嚙踝蕭�豱佗蕭嚙踐貔��蕭�豱佗蕭嚙踝��蕭豱批�����雓�嚙踝蕭謢察���蕭��嚙踐揭嚙踝蕭謕蕭����蕭 */

/* 嚙踝蕭謕蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭謍湛蕭��蕭��嚙踝蕭����嚙踝����嚙踐揭嚙踝蕭謕蕭��蕭��蕭��迭���蕭謚啾揭���雓�鞊船����蕭��嚙踐揭嚙踝蕭謕蕭豲���嚙踝����雓�嚙踝蕭謢察���蕭��嚙踐揭嚙踝蕭謕蕭��嚙踝���蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲��嚙踝����嚙踝蕭謢察���雓�揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踐�蕭豲���嚙踝蕭蹇Ｚ嚙踐嚙踐嚙踝蕭謕蕭��雓����雓姘����雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������頩筑�雓�鞊船����頩�嚙踝���蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭豲嚙踐�蕭����鞊舀�揭嚙踝蕭謕蕭��嚙踐�蕭����蕭�嚙踐�蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲��撥嚙踐����雓�鞊莎�揭嚙踝蕭謕蕭豲����蕭����蕭�豱佗蕭嚙踐�蕭豲���嚙踝蕭豯抆��嚙踝蕭頦���蕭謖嚙踝蕭謢察���蕭�豱佗蕭嚙踐�蕭豲��撥嚙踐����嚙踐疚���蕭謘遴�����嚙踐�嚙踝蕭謕蕭豲嚙踐�蕭����鞊舀�揭嚙踝蕭謕蕭��嚙踐�蕭����蕭�嚙踐�蕭豲��嚙踝����蕭�����雓�嚙踝蕭��雓�嚙踝蕭豲嚙踝蕭�����嚙踝蕭�豱佗蕭嚙踐貔��蕭�豱佗蕭嚙踝��蕭豱批�����雓�嚙踝蕭謅��嚙踝蕭��嚙踝蕭蹐翮嚙踝蕭謕蕭��雓�嚙踝蕭謕蕭豲��嚙踝����嚙踐揭嚙踝蕭謕蕭��嚙踐�蕭�������雓�鞊莎�揭嚙踝蕭��蕭���蕭��嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭謕蕭��嚙踝�蕭�������雓�嚙踝蕭謢察���蕭謘潘蕭謕蕭��雓����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭謕蕭��蕭�嚙踐�蕭豲蕭��蕭謕蕭��嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭謕蕭豲������揭嚙踝蕭�嚙踐�嚙踝蕭謜���嚙踐���蕭�����������嚙踐的嚙踐���蕭�����蕭謖嚙踝蕭謢察���蕭�豱佗蕭嚙踐�蕭豲���雓Ｗ�揭嚙踝蕭謕蕭豲��死蹓控雿���蕭蹐翮嚙踝蕭謕蕭��雓�嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭謕蕭��蕭��蕭謕蕭豲���蕭謘潘蕭謕蕭��雓����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭謍湛蕭��蕭��嚙踝蕭����嚙踝����嚙踐揭嚙踝蕭謕蕭��蕭��蕭��迭���蕭謚啾揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭�����蕭謖嚙踝蕭謢察���頩�蕭�嚙踐�蕭豲��嚙踝����蕭�����雓�嚙踝蕭��雓�雓�鞊莎�揭嚙踝蕭謕蕭��蕭蹎刻���蕭謖鞊船嚙賢��散嚙踐�捲��揭嚙踝蕭謕蕭��嚙踝蕭謕蕭豲��嚙踝����嚙踐嚙踝蕭�嚙踐�蕭豲��嚙踝����蕭�����雓�嚙踝蕭��雓�嚙踝蕭豲嚙踝蕭�����嚙踝蕭�豱佗蕭嚙踐貔��蕭�豱佗蕭嚙踝��蕭豱批�����雓�嚙踝蕭謅��嚙踝蕭��嚙踝蕭蹐翮嚙踝蕭謕蕭��雓�嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭��蕭謕蕭��嚙踝蕭��嚙踝蕭謕蕭��雓����雓Ｗ�揭嚙踝蕭謕蕭豲���蕭謜嚙踝���蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲��嚙踝����嚙踝蕭謢察���嚙踝蕭����嚙踝����蕭�����ˇ���嚙踝蕭��雓葡���嚙踐�嚙踝蕭謕蕭��雓����嚙踐嚙踝蕭�����蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭��雓����蕭�����嚙踐的嚙踝蕭賹��蕭嚙踐嚙踝蕭謕蕭豲蕭謘潘蕭謕蕭��雓����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭謍湛蕭��蕭��嚙踝蕭����嚙踝����嚙踐揭嚙踝蕭謕蕭��蕭��蕭��迭���蕭謚啾揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲��嚙踝����蕭�����雓�鞊莎�揭嚙踝蕭謕蕭��嚙踝蕭���蕭謆扯�偃豱血��雓�鞊船����蕭�����嚙踐嚙踝蕭謕蕭��雓����嚙踐���蕭��雓�嚙踝蕭�����雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲���雓Ｗ�揭嚙踝蕭�嚙踐�嚙踝蕭謜嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭�����蕭��嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踐飾嚙踝蕭�嚙賢��雓�嚙踝蕭謕蕭��鞊莎�揭 */
#bgpanel{
    background: transparent url(../images/img/transparent.png);
    width: 980px;
    height: 550px;
    overflow: hidden;
    float: right;
    position: relative;
    margin: 9% 12.5px 0 0;
    margin-right:138px;
    -moz-box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
    -webkit-box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
    box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
}
/* 嚙踝蕭謕蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭謍湛蕭��蕭��嚙踝蕭����嚙踝����嚙踐揭嚙踝蕭謕蕭��蕭��蕭��迭���蕭謚啾揭���雓�鞊船����蕭��嚙踐揭嚙踝蕭謕蕭豲���嚙踝����雓�嚙踝蕭謢察���蕭��嚙踐揭嚙踝蕭謕蕭��嚙踝���蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲��嚙踝����嚙踝蕭謢察���雓�揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踐�蕭豲���嚙踝蕭蹇Ｚ嚙踐嚙踐嚙踝蕭謕蕭��雓����雓姘����雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������頩筑�雓�鞊船����頩�嚙踝���蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭豲嚙踐�蕭����鞊舀�揭嚙踝蕭謕蕭��嚙踐�蕭����蕭�嚙踐�蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲��撥嚙踐����雓�鞊莎�揭嚙踝蕭謕蕭豲����蕭����蕭�豱佗蕭嚙踐�蕭豲���嚙踝蕭豯抆��嚙踝蕭頦���蕭謖嚙踝蕭謢察���蕭�豱佗蕭嚙踐�蕭豲��撥嚙踐����嚙踐疚���蕭謘遴�����嚙踐�嚙踝蕭謕蕭豲嚙踐�蕭����鞊舀�揭嚙踝蕭謕蕭��嚙踐�蕭����蕭�嚙踐�蕭豲��嚙踝����蕭�����雓�嚙踝蕭��雓�嚙踝蕭豲嚙踝蕭�����嚙踝蕭�豱佗蕭嚙踐貔��蕭�豱佗蕭嚙踝��蕭豱批�����雓�嚙踝蕭謅��嚙踝蕭��嚙踝蕭蹐翮嚙踝蕭謕蕭��雓�嚙踝蕭謕蕭豲��嚙踝����嚙踐揭嚙踝蕭謕蕭��嚙踐�蕭�������雓�鞊莎�揭嚙踝蕭��蕭���蕭��嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭謕蕭��嚙踝�蕭�������雓�嚙踝蕭謢察���蕭謘潘蕭謕蕭��雓����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭謕蕭��蕭�嚙踐�蕭豲蕭��蕭謕蕭��嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭謕蕭豲������揭嚙踝蕭�嚙踐�嚙踝蕭謜���嚙踐���蕭�����������嚙踐的嚙踐���蕭�����蕭謖嚙踝蕭謢察���蕭�豱佗蕭嚙踐�蕭豲���雓Ｗ�揭嚙踝蕭謕蕭豲��死蹓控雿���蕭蹐翮嚙踝蕭謕蕭��雓�嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭謕蕭��蕭��蕭謕蕭豲���蕭謘潘蕭謕蕭��雓����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭謍湛蕭��蕭��嚙踝蕭����嚙踝����嚙踐揭嚙踝蕭謕蕭��蕭��蕭��迭���蕭謚啾揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭�����蕭謖嚙踝蕭謢察���頩�蕭�嚙踐�蕭豲��嚙踝����蕭�����雓�嚙踝蕭��雓�雓�鞊莎�揭嚙踝蕭謕蕭��蕭蹎刻���蕭謖鞊船嚙賢��散嚙踐�捲��揭嚙踝蕭謕蕭��嚙踝蕭謕蕭豲��嚙踝����嚙踐嚙踝蕭�嚙踐�蕭豲��嚙踝����蕭�����雓�嚙踝蕭��雓�嚙踝蕭豲嚙踝蕭�����嚙踝蕭�豱佗蕭嚙踐貔��蕭�豱佗蕭嚙踝��蕭豱批�����雓�嚙踝蕭謅��嚙踝蕭��嚙踝蕭蹐翮嚙踝蕭謕蕭��雓�嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭��蕭謕蕭��嚙踝蕭��嚙踝蕭謕蕭��雓����雓Ｗ�揭嚙踝蕭謕蕭豲���蕭謜嚙踝���蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲��嚙踝����嚙踝蕭謢察���嚙踝蕭����嚙踝����蕭�����ˇ���嚙踝蕭��雓葡���嚙踐�嚙踝蕭謕蕭��雓����嚙踐嚙踝蕭�����蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭��雓����蕭�����嚙踐的嚙踝蕭賹��蕭嚙踐嚙踝蕭謕蕭豲蕭謘潘蕭謕蕭��雓����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭謍湛蕭��蕭��嚙踝蕭����嚙踝����嚙踐揭嚙踝蕭謕蕭��蕭��蕭��迭���蕭謚啾揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲��嚙踝����蕭�����雓�鞊莎�揭嚙踝蕭謕蕭��嚙踝蕭���蕭謆扯�偃豱血��雓�鞊船����蕭�����嚙踐嚙踝蕭謕蕭��雓����嚙踐���蕭��雓�嚙踝蕭�����雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲���雓Ｗ�揭嚙踝蕭�嚙踐�嚙踝蕭謜嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭�����蕭��嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踐飾嚙踝蕭�嚙賢��雓�嚙踝蕭謕蕭��鞊莎�揭 end */

/* ���雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭豲嚙踐�蕭����鞊舀�揭嚙踝蕭謕蕭��嚙踐�蕭����蕭�嚙踐�蕭豲��嚙踝����蕭�����雓�嚙踝蕭��雓�嚙踝蕭豲嚙踝蕭�����嚙踝蕭�豱佗蕭嚙踐貔��蕭�豱佗蕭嚙踝��蕭豱批�����雓�嚙踝蕭謅��嚙踝蕭��嚙踝蕭蹐翮嚙踝蕭謕蕭��雓�嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭��蕭謕蕭豲����蕭豱佗蕭嚙踐�蕭�����雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲��憪蕭嚙踝嚙踐�蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭豲���蕭��蕭謕蕭��倏���揭嚙踝蕭��蕭謜�蕭嚙踐�蕭��雓����嚙踐嚙踝蕭�嚙踐�蕭豲��嚙踝����蕭�����雓�嚙踝蕭��雓�嚙踝蕭豲嚙踝蕭�����嚙踝蕭�豱佗蕭嚙踐貔��蕭�豱佗蕭嚙踝��蕭豱批�����雓�嚙踝蕭謅��嚙踝蕭��嚙踝蕭蹐翮嚙踝蕭謕蕭��雓�嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭��蕭謕蕭��嚙踝蕭��嚙踝蕭謕蕭��雓����雓Ｗ�揭嚙踝蕭謕蕭豲���蕭謜嚙踝���蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭豲嚙踐�蕭����鞊舀�揭嚙踝蕭謕蕭��嚙踐�蕭����蕭�嚙踐�蕭豲��嚙踝����嚙踐ㄑ嚙踝嚙踐嚙踝蕭謕蕭��雓����蕭�����嚙踐疚嚙踐���揭嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭��蕭��嚙踐�蕭�嚙踝蕭謕蕭豲���頩�耨���雓�嚙踝蕭謢察��城�嚙踐嚙踝蕭謕蕭豲���蕭豲蕭謕蕭��嚙踐ㄠ嚙踐揭嚙踝蕭謕蕭豲蕭蹓鳴蕭謕蕭�����雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲������揭嚙踝蕭謕蕭豲���嚙踝蕭�豱佗蕭嚙踐貔��蕭�豱佗蕭嚙踐�蕭豲��撥嚙踐����雓�鞊莎�揭嚙踝蕭謕蕭��蕭��蕭��迭���蕭謚啾揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踐�蕭豲������嚙踝���蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲��嚙踝����嚙踝蕭謢察���嚙踝蕭����嚙踝����蕭�����嚙踝蕭��鞈對�嚙踝蕭��雓�嚙踝蕭謅Ｘ嚙踝蕭謕蕭�����ˇ����蕭嚙踐�蕭��蕭��鞊曹����蕭謖嚙踝蕭�����雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲������嚙踝���蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲��嚙踝����嚙踝蕭謢察���嚙踝蕭����嚙踝����蕭�����ˇ���嚙踝蕭��雓葡���嚙踐�嚙踝蕭謕蕭��雓����嚙踐嚙踝蕭�����蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭��雓����蕭�����嚙踐的嚙踝蕭賹��蕭嚙踐嚙踝蕭謕蕭豲蕭蹎刻嚙踐揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭豲嚙踐�蕭����鞊舀�揭嚙踝蕭謕蕭��嚙踐�蕭����蕭�嚙踐�蕭豲��嚙踝����蕭�����雓�嚙踝蕭��雓�嚙踝蕭豲嚙踝蕭�����嚙踝蕭�豱佗蕭嚙踐貔��蕭�豱佗蕭嚙踝��蕭豱批�����雓�嚙踝蕭謅��嚙踝蕭��嚙踝蕭蹐翮嚙踝蕭謕蕭��雓�嚙踝蕭謕蕭豲��嚙踝����嚙踐揭嚙踝蕭謕蕭��嚙踐�蕭�������雓�鞊莎�揭嚙踝蕭��蕭���蕭��嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭謕蕭��嚙踝�蕭�������雓�嚙踝蕭謢察嚙踝蕭謕 */
.slidename{
   position:fixed;
   margin-top: 1%;
   cursor: pointer;
   z-index: 3;
}

.slidename a{
    text-decoration: none;
    color:#000;
}

.slidemenu{
    margin-top:0.7%;
    cursor: pointer;
    z-index:100;
    position:fixed;
    color:#000;
}

.slidemain{
    cursor: pointer;
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 100px;
    z-index:100;
}

.slidesub{
    text-align: center;
    width: 100px;
    position:fixed;
    z-index:100;
}

.slidesub li{
    background: transparent url(../images/img/transparent.png);      
    height: 25px;
    line-height:25px;
    border-bottom: 1px dotted #FF60AF;
    list-style-type:none;
    z-index:100;
    margin-top:-3%;
}

.slidesub a{
    text-decoration: none;
    color:#000;
}

/* ���雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭豲嚙踐�蕭����鞊舀�揭嚙踝蕭謕蕭��嚙踐�蕭����蕭�嚙踐�蕭豲��嚙踝����蕭�����雓�嚙踝蕭��雓�嚙踝蕭豲嚙踝蕭�����嚙踝蕭�豱佗蕭嚙踐貔��蕭�豱佗蕭嚙踝��蕭豱批�����雓�嚙踝蕭謅��嚙踝蕭��嚙踝蕭蹐翮嚙踝蕭謕蕭��雓�嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭��蕭謕蕭豲����蕭豱佗蕭嚙踐�蕭�����雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲��憪蕭嚙踝嚙踐�蕭豲��嚙踝����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭豲���蕭��蕭謕蕭��倏���揭嚙踝蕭��蕭謜�蕭嚙踐�蕭��雓����嚙踐嚙踝蕭�嚙踐�蕭豲��嚙踝����蕭�����雓�嚙踝蕭��雓�嚙踝蕭豲嚙踝蕭�����嚙踝蕭�豱佗蕭嚙踐貔��蕭�豱佗蕭嚙踝��蕭豱批�����雓�嚙踝蕭謅��嚙踝蕭��嚙踝蕭蹐翮嚙踝蕭謕蕭��雓�嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭��蕭謕蕭��嚙踝蕭��嚙踝蕭謕蕭��雓����雓Ｗ�揭嚙踝蕭謕蕭豲���蕭謜嚙踝���蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭豲嚙踐�蕭����鞊舀�揭嚙踝蕭謕蕭��嚙踐�蕭����蕭�嚙踐�蕭豲��嚙踝����嚙踐ㄑ嚙踝嚙踐嚙踝蕭謕蕭��雓����蕭�����嚙踐疚嚙踐���揭嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭��蕭��嚙踐�蕭�嚙踝蕭謕蕭豲���頩�耨���雓�嚙踝蕭謢察��城�嚙踐嚙踝蕭謕蕭豲���蕭豲蕭謕蕭��嚙踐ㄠ嚙踐揭嚙踝蕭謕蕭豲蕭蹓鳴蕭謕蕭�����雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲������揭嚙踝蕭謕蕭豲���嚙踝蕭�豱佗蕭嚙踐貔��蕭�豱佗蕭嚙踐�蕭豲��撥嚙踐����雓�鞊莎�揭嚙踝蕭謕蕭��蕭��蕭��迭���蕭謚啾揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踐�蕭豲������嚙踝���蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲��嚙踝����嚙踝蕭謢察���嚙踝蕭����嚙踝����蕭�����嚙踝蕭��鞈對�嚙踝蕭��雓�嚙踝蕭謅Ｘ嚙踝蕭謕蕭�����ˇ����蕭嚙踐�蕭��蕭��鞊曹����蕭謖嚙踝蕭�����雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲������嚙踝���蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲��嚙踝����嚙踝蕭謢察���嚙踝蕭����嚙踝����蕭�����ˇ���嚙踝蕭��雓葡���嚙踐�嚙踝蕭謕蕭��雓����嚙踐嚙踝蕭�����蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭��雓����蕭�����嚙踐的嚙踝蕭賹��蕭嚙踐嚙踝蕭謕蕭豲蕭蹎刻嚙踐揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭豲嚙踐�蕭����鞊舀�揭嚙踝蕭謕蕭��嚙踐�蕭����蕭�嚙踐�蕭豲��嚙踝����蕭�����雓�嚙踝蕭��雓�嚙踝蕭豲嚙踝蕭�����嚙踝蕭�豱佗蕭嚙踐貔��蕭�豱佗蕭嚙踝��蕭豱批�����雓�嚙踝蕭謅��嚙踝蕭��嚙踝蕭蹐翮嚙踝蕭謕蕭��雓�嚙踝蕭謕蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭��嚙踝蕭豯抆���蕭��嚙踐���雓�鞊莎�揭嚙踝蕭謕蕭��蕭��蕭謕蕭��嚙踝蕭��嚙踝蕭謕蕭��雓����雓Ｗ�揭嚙踝蕭謕蕭豲���蕭謜嚙踝���蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲��嚙踝����嚙踝蕭謢察���蕭����嚙踝����蕭�����雓�嚙踝蕭謢察���鞊船���嚙踝����雓Ｗ�揭嚙踝蕭�嚙踝�嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭謕蕭豲���嚙踝����雓�嚙踝蕭謢察���鞊舀�揭嚙踝蕭謕蕭豲���蕭�豱佗蕭嚙踐嚙踝�嚙踝蕭謕蕭豲蕭賹����蕭��蕭���郭嚙踐�蕭��雓����蕭�����嚙踐疚鞎�蕭謕蕭豲嚙踐鞊曹����蕭謖鞊莎�揭嚙踝蕭�����蕭��嚙踝蕭謕蕭豲����蕭嚙踐�蕭豲雓豱佗蕭嚙踐�蕭��蕭��蕭��迭���蕭謚啾揭���雓�鞊船����蕭��嚙踐揭嚙踝蕭謕蕭豲���嚙踝����雓�嚙踝蕭謢察���蕭��嚙踐揭嚙踝蕭謕蕭��嚙踝���蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭��雓����蕭�����嚙踐的嚙踝蕭蹎刻嚙踐揭���雓�嚙踝蕭謅嚙踝蕭謕蕭豲��嚙踝���嚙踐�蕭�����蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲��撥嚙踐����嚙踐疚���蕭謘遴�����嚙踐�嚙踝蕭謕蕭��雓����蕭�����嚙踐的嚙踝蕭賹��蕭嚙踐嚙踝蕭謕蕭豲蕭蹎刻嚙踐揭���雓�嚙踝蕭謢察���蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�嚙踝蕭謕蕭豲������蕭��雓�鞊船������嚙踐�嚙踝蕭謕蕭豲嚙踐�蕭����鞊舀�揭嚙踝蕭謕蕭��嚙踐�蕭����蕭�嚙踐�蕭豲��嚙踝����蕭�����雓�嚙踝蕭��雓�嚙踝蕭豲嚙踝蕭�����嚙踝蕭�豱佗蕭嚙踐貔��蕭�豱佗蕭嚙踝��蕭豱批�����雓�嚙踝蕭謢察���蕭��嚙踐揭嚙踝蕭謕蕭����蕭 */

.divider{
    margin:16% 0;
}

#bgpanel,.list-group-item,.thumbnail{
    -moz-box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
    -webkit-box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
    box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
}       

.thumbnail{
/*     width:250px; */
/*     height:230px; */
}

.list-group-item{
    line-height:17px;
}
.title{
	width:100%;
	border-bottom: 2px solid steelblue;
	font-size: 27px;
	font-weight: bold;
}
.groups_area{
/* 	margin-top: 10px; */
	width: 100%;
	height: 50%;
/* 	border: 1px solid steelblue; */
}
#createGroups{
/* 	background-color: red;  */
}
#showCreateGroupsAreaPosition,#showModifyGroupsTitleAreaPosition{
/* 	background-color: blue; */
	position:fixed;
	top: 15%;
	left:35%;
	width: 30%;
	height:50%;
}
#test2{
/* 	background-color: yellow; */
	height: 100%;
	width: 100%;
}
.modal-body {
    max-height: calc(75vh);
    overflow-y: auto;
}
#websocketArea{
	position:fixed;
	bottom: 0px;
	right:0px;
	z-index:9999;
	width:15vw;
	background-color:transparent;
}
#createGroupsButton{
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
#createGroupsHeader{
	background-color: #f7f7ff;
	height:15%;
	font-weight: bold;
}
#createGroupsContent{
	margin-top:30px;
}
#createButton,#updateGroupsButton{
	background-color: #4265b5;
    border: none;
    color: white;
    padding: 8px 14px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 290px;
    cursor: pointer;
}
#groupsInfo{
	background-color: #39599c;
	color:white;
	height:5vh;
}
#groupsInfo input[type=submit],input[type=button]{
	font-size:10px;
	margin-left:5px ;
	font-weight: bold;
}
#groupSelectArea{
/* 	background-color: hsl(0,70%,95%); */
/* 	border: 1px solid steelblue; */
	margin-top:1px;
	height:6vh;
}
#groupContentArea{}

#groupSelectArea input[type=submit]{
	font-size:10px;
	margin-right:5px ;
	font-weight: bold;
}
.floatLeft{
	float: left;
}
.floatRight{
	float:right;
}
#eachBulletin{
	background-color: white;
	margin:7px;
}
#bulletinContent{
	border:2px solid #e7e7e7;
}
#showModifyBulletinAreaPosition{
	position:fixed;
	top: 15%;
	left:30%;
	width: 42%;
	height:50%;
}
#modifyBulletinButton{
	height:28px;
	text-align: center;
}
#insertBulletinButton {
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
#showBigPhotoAreaPosition{
	background-color: #222222;.
}
#insertPhotoButton{
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
.eachPhotoFile { 
	width: 100%; 
	height: 100%; 
	opacity: 1;
} 
.eachPhotoFile:hover { 
	-moz-box-shadow: 0 0 10px #ccc; 
	-webkit-box-shadow: 0 0 10px #ccc; 
	opacity: 0.5;
}
#showBigPhoto{
	border-bottom: 5px solid steelblue;
}
