<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AA105G2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>com.article.controller.ArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/article/article.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FriendServlet</servlet-name>
    <servlet-class>com.friend.controller.FriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendServlet</servlet-name>
    <url-pattern>/friend/friend.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResponseServlet</servlet-name>
    <servlet-class>com.response.controller.ResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseServlet</servlet-name>
    <url-pattern>/response/response.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlaceServlet</servlet-name>
    <servlet-class>com.place.controller.PlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceServlet</servlet-name>
    <url-pattern>/Place/PlaceServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowMenu_Pic</servlet-name>
    <servlet-class>com.menu.controller.ShowMenu_Pic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMenu_Pic</servlet-name>
    <url-pattern>/ShowMenu_Pic.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetDateJason</servlet-name>
    <servlet-class>com.appointment.controller.GetDateJason</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDateJason</servlet-name>
    <url-pattern>/GetDateJason.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMenuJason</servlet-name>
    <servlet-class>com.menu.controller.GetMenuJason</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMenuJason</servlet-name>
    <url-pattern>/GetMenuJason.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SupServlet</servlet-name>
    <servlet-class>com.sup.controller.SupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupServlet</servlet-name>
    <url-pattern>/sup/sup.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBGifReader</servlet-name>
    <servlet-class>com.commodity.model.DBGifReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader</servlet-name>
    <url-pattern>/DBGif.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ComServlet_commodity</servlet-name>
    <servlet-class>com.commodity.controller.ComServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComServlet_commodity</servlet-name>
    <url-pattern>/com/com.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrditemServlet_order_item</servlet-name>
    <servlet-class>com.order_item.controller.OrdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrditemServlet_order_item</servlet-name>
    <url-pattern>/ord/ord.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurServlet_purchase_order</servlet-name>
    <servlet-class>com.purchase_order.controller.PurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurServlet_purchase_order</servlet-name>
    <url-pattern>/purord/purord.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShopServlet_ShoppingCart</servlet-name>
    <servlet-class>com.order_item.controller.ShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopServlet_ShoppingCart</servlet-name>
    <url-pattern>/ord/shopord.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.menu.controller.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/menu/menu.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBGifReaderMessage</servlet-name>
    <servlet-class>com.message.model.DBGifReaderMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReaderMessage</servlet-name>
    <url-pattern>/message/DBGif.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front_end/groups/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front_end/photo/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front_end/bulletin/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front_end/groups_list/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front_end/friend/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front_end/article/addArticle.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front_end/article/listOwnArticle.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front_end/article/listOwnResponse.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front_end/Appointment/checkAppointment.jsp</url-pattern>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front_end/Appointment/listOwnAppointment.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front_end/Appointment/update_Appointment_input.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front_end/shoppingcar/TransmitInfo.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front_end/shoppingcar/ShoppingRecord.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>loginFilterEmp</filter-name>
    <filter-class>filters.EmpLoginFilters</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilterEmp</filter-name>
    <url-pattern>/back_end/employee/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilterEmp</filter-name>
    <url-pattern>/back_end/sup/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>suploginFilter</filter-name>
    <filter-class>filters.SupLoginFilters</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>suploginFilter</filter-name>
    <url-pattern>/supplier_end/app/listSupAppointment.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>suploginFilter</filter-name>
    <url-pattern>/supplier_end/sup_firstpage.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>suploginFilter</filter-name>
    <url-pattern>/supplier_end/menu/listSupMenus.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>suploginFilter</filter-name>
    <url-pattern>/supplier_end/menu/addMenu.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>suploginFilter</filter-name>
    <url-pattern>/supplier_end/com/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>suploginFilter</filter-name>
    <url-pattern>/supplier_end/purord/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>suploginFilter</filter-name>
    <url-pattern>/supplier_end/ord/*</url-pattern>
  </filter-mapping>
</web-app>